<ng-container>
    @switch (useType) {
        @case ("text") {
            <input
            [ngClass]="classList"
            [(ngModel)]="value"
            (keyup)="onValueChange($event)"
            type="text"
            [placeholder]="placeholder"
            >
        }
        @case ("date") {
            <div class="date-picker-container">
                <input
                [ngClass]="classList"
                (change)="onValueChange($event)"
                type="text"
                [matDatepicker]="picker"
                [(ngModel)]="value"
                (click)="picker.open()"
                [value]="'hello'"
                >
                <span class="date-icon">
                    <img src="assets/icons/date.svg" alt="" srcset="">
                </span>
            </div>
            <mat-datepicker #picker></mat-datepicker>
        }
        @case ("select") {
            <div 
            [ngClass]="classList"
            (click)="toggleDropdown()"
            >
            <span class="selected-value">
                {{selectedOption.label}}
                <img src="assets/icons/carret.svg" alt="" srcset="">
            </span>
            <ul [class]="showBool? 'show input-select-options':'hide'">
                @for(opt of options; track opt){
                    <li (click)="onValueChange(opt)">
                        {{ opt.label }}
                    </li>
                }
            </ul>
            </div>
        }
        @default {}
    }
</ng-container>
      
