.input{
    height: 48px;
    width: 100%;
    border-radius: 0.25rem;
    font-weight: 600;
    padding: 0;
}
.input-text{
    border: 1px solid var(--blue-2);

    &:focus{
        border-color: var(--blue-4);
        outline: var(--blue-4);
    }
}
.input-select{
    // border: 1px solid var(--blue-2);
    position: relative;
    display: flex;
    // width: fit-content;
    align-items: center;
    color: var(--dark-6);
    cursor: pointer;
    
    &:hover{
        .input-select-options{
            display: block !important;
            position: absolute;
            top: 100%;
            width: 240px;
            left: 0;
            background-color: white;
            border-radius: 0.25rem;
            border: 1px solid var(--blue-2);
            box-shadow: 0 9px 12px 4px var(--blue-2);
            z-index: 100;
            padding: 0;
            margin-top: 1.5rem;
    
            li{
                list-style: none;
                height: 48px;
                border-top: 1px solid var(--blue-2);
                display: flex;
                align-items: center;
                padding: 0 1rem 0 1.25rem;
    
                &:first-child{
                    border-top: none
                }
                
                &:hover{
                    color: var(--blue-3);
                    cursor: pointer;
                }
            }
        }
        
    }
    .selected-value{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 1rem 0 1.25rem;
        gap: 1rem;
    }
    .input-select-options{
        display: none;
    }

    
}
::ng-deep .mat-datepicker-content{
    width: 240px;
    margin-top: 1.5rem;
}
::ng-deep mat-calendar{
    width: 240px !important;
    height: fit-content !important;
}

.input-date{
    cursor: pointer;
}
.date-picker-container{
    position: relative;
    cursor: pointer;
    .date-icon{
        position: absolute;
        z-index: 1;
        right: 16px;
        top: 16px;
    }
}



.show{
    display: block;
}
.hide{
    display: none;
}