<!-- <button class="btn btn-blue">Mark as Paid</button>
<button class="btn icon-btn btn-blue">
    <img src="assets/icons/add.svg" alt="add icon" srcset="">
    <span>New Invoice</span>
</button>
<button class="btn btn-secondary"><span>Save as Draft</span></button>
<button class="btn btn-edit"><span>Edit</span></button>
<button class="btn btn-add-item"><span>+Add new Item</span></button>
<button class="btn btn-danger"><span>Delete</span></button> -->

<!-- <app-button 
[classList]="['btn icon-btn btn-blue']" 
[buttonText]="'one'"
[imgUrl]="'assets/icons/add.svg'"
(execute)="buttonClick($event)"
/>
<app-input 
    (valueChange)="logDate(in.value)" 
    [classList]="['input','input-text']" 
    [useType]="'text'"
    [(value)]="textValue"
    #in
    />
<app-input 
    [classList]="['input','input-select']"
    [useType]="'select'" 
    [options]="options"
    [(value)]="selectedOption"
    (valueChange)="logDate($event)"
    />
<app-input 
    [classList]="['input', 'input-text', 'input-date']"
    (valueChange)="logDate($event)" 
    [(value)]="dateValue" 
    [useType]="'date'"
    /> -->

    <router-outlet/>