<div class="container-fluid">
    <span class="back-btn">back</span>
    <div class="form-container">
        <h1>New Invoice</h1>
        <div class="bill-from">
            <h3 class="part-title h3-mini">Bill Form</h3>
            <div class="grid-container">
                <div class="input-group input-group-1">
                    <label class="text-muted" for="app-input-1">Street Address</label>
                    <input
                    Class="input input-text"
                    [(ngModel)]="storeService.newInvoice.senderAddress.street"
                    type="text" 
                    [formControl]="storeService.senderStreet"
                    >
                    @if (storeService.senderStreet.hasError('required')) {
                      <mat-error>Please enter a valid email address</mat-error>
                    }
                </div>
                <div class="input-group input-group-2">
                    <label class="text-muted" for="app-input-2">City</label>
                    <input
                        Class="input input-text"
                        type="text"
                        [(ngModel)]="storeService.newInvoice.senderAddress.city"
                        [formControl]="storeService.senderCity"
                    >
                    @if (storeService.senderCity.hasError('required')) {
                      <mat-error>Please enter a valid email address</mat-error>
                    }
                </div>
                <div class="input-group input-group-3">
                    <label class="text-muted" for="app-input-3">Country</label>
                    <input
                        Class="input input-text"
                        type="text"
                        [(ngModel)]="storeService.newInvoice.senderAddress.country"
                        [formControl]="storeService.senderCountry"
                    >
                    @if (storeService.senderCountry.hasError('required')) {
                      <mat-error>Please enter a valid email address</mat-error>
                    }
                </div>
                <div class="input-group input-group-4">
                    <label class="text-muted" for="app-input-4">Postal Code</label>
                    <input
                        Class="input input-text"
                        type="text"
                        [(ngModel)]="storeService.newInvoice.senderAddress.postCode"
                        [formControl]="storeService.senderPostCode"
                    >
                    @if (storeService.senderPostCode.hasError('required')) {
                      <mat-error>Please enter a valid email address</mat-error>
                    }
                </div>
            </div>                     
        </div>
        <div class="bill-to">
            <h3 class="part-title h3-mini">Bill To</h3>
            <div class="bill-to-container">
                <div class="input-group input-group-1">
                    <label class="text-muted" for="app-input-1">Client's Name</label>
                    <input
                        Class="input input-text"
                        type="text"
                        [(ngModel)]="storeService.newInvoice.clientName"
                        [formControl]="storeService.clientName"
                    >
                    @if (storeService.clientName.hasError('required')) {
                      <mat-error>Please enter a valid email address</mat-error>
                    }
                </div>
                <div class="input-group input-group-2">
                    <label class="text-muted" for="app-input-2">Client's Email</label>
                    <input
                        Class="input input-text"
                        type="text"
                        [(ngModel)]="storeService.newInvoice.clientEmail"
                        [formControl]="storeService.clientEmail"
                    >
                    @if (storeService.clientEmail.hasError('required') && storeService.clientEmail.hasError('email')) {
                      <mat-error>Please enter a valid email address</mat-error>
                    }
                </div>
                <div class="input-group input-group-3">
                    <label class="text-muted" for="app-input-3">Street Address</label>
                    <input
                        Class="input input-text"
                        type="text"
                        [(ngModel)]="storeService.newInvoice.clientAddress.street"
                        [formControl]="storeService.clientStreet"
                    >
                    @if (storeService.clientStreet.hasError('required')) {
                      <mat-error>Please enter a valid email address</mat-error>
                    }
                </div>
                <div class="input-group input-group-4">
                    <label class="text-muted" for="app-input-4">City</label>
                    <input
                        Class="input input-text"
                        type="text"
                        [(ngModel)]="storeService.newInvoice.clientAddress.city"
                        [formControl]="storeService.clientCity"
                    >
                    @if (storeService.clientCity.hasError('required')) {
                      <mat-error>Please enter a valid email address</mat-error>
                    }
                </div>
                <div class="input-group input-group-5">
                    <label class="text-muted" for="app-input-4">Post Code</label>
                    <input
                        Class="input input-text"
                        type="text"
                        [(ngModel)]="storeService.newInvoice.clientAddress.postCode"
                        [formControl]="storeService.clientPostCode"
                    >
                    @if (storeService.clientPostCode.hasError('required')) {
                      <mat-error>Please enter a valid email address</mat-error>
                    }
                </div>
                <div class="input-group input-group-6">
                    <label class="text-muted" for="app-input-4">Country</label>
                    <input
                        Class="input input-text"
                        type="text"
                        [(ngModel)]="storeService.newInvoice.clientAddress.country" 
                        [formControl]="storeService.clientCountry"
                    >
                    @if (storeService.clientCountry.hasError('required')) {
                      <mat-error>Please enter a valid email address</mat-error>
                    }
                </div>
                <div class="input-group input-group-7">
                    <label class="text-muted" for="app-input-4">Invoice Date</label>
                    <app-input 
                        (valueChange)="logDate(in4.value)" 
                        [classList]="['input','input-date','input-text']" 
                        [useType]="'date'"
                        [(value)]="textValue"
                        #in4
                    />
                </div>
                <div class="input-group input-group-8"> 
                    <label class="text-muted" for="">Payment Terms</label>
                    <div 
                    Class="input input-select"
                    >
                        <span class="selected-value">
                            Net 
                            {{storeService.newInvoice.paymentTerms}} 
                            {{storeService.newInvoice.paymentTerms>1? 'Days':'Day' }}
                            <img src="assets/icons/carret.svg" alt="" srcset="">
                        </span>
                        <ul  class="input-select-options">
                            <li (click)="setPaymentPlan(1)"> Net 1 Day</li>
                            <li (click)="setPaymentPlan(7)">Net 7 Days</li>
                            <li (click)="setPaymentPlan(14)">Net 14 Days</li>
                            <li (click)="setPaymentPlan(30)">Net 30 Days</li>
                        </ul>
                    </div>
                </div>
                <div class="input-group input-group-9"> 
                    <label class="text-muted" for="app-input-4">Project Description</label>
                    <input
                        Class="input input-text"
                        type="text"
                        [formControl]="storeService.description"
                    >
                    @if (storeService.description.hasError('required')) {
                      <mat-error>Please enter a valid email address</mat-error>
                    }
                </div>
            </div>                     
        </div>
        <div class="items-form">
            <h2 class="text-muted title">Item List</h2>
            @for(item of storeService.newInvoice.items; track $index){
                <div class="add-item">
                    <div class="input-group input-group-1">
                        <label class="text-muted" for="app-input-1">Item Name</label>
                        <input
                            [(ngModel)]="item.name"
                            Class="input input-text"
                            type="text"
                            >
                    </div>
                    <div class="input-group input-group-2">
                        <label class="text-muted" for="app-input-2">Qty.</label>
                        <input
                            Class="input input-text"
                            type="number"
                            [(ngModel)]="item.quantity" 
                            >
                    </div>
                    <div class="input-group input-group-3">
                        <label class="text-muted" for="app-input-3">Price</label>
                        <input
                            Class="input input-text"
                            type="Number"
                            [(ngModel)]="item.price"
                            >
                    </div>
                    <div class="input-group input-group-4">
                        <label class="text-muted" for="app-input-4">Total</label>
                        <span [(ngModel)]="item.quantity" class="total-price">{{item.price * item.quantity}}</span>
                    </div>
                    <button (click)="removeItemFromItemList($index)" mat-icon-button class="del-btn">
                        <mat-icon fontIcon="delete"></mat-icon>
                    </button>
                </div>
            }
        </div>
        <button (click)="addItemToItemList()" class="btn-add-new-invoice" mat-flat-button>Add New Invoice</button>
        <div class="form-action">
            <button (click)="addNewInvoiceToStore('draft')" class="btn-action-cancel" mat-flat-button>Cancel</button>
            <button (click)="addNewInvoiceToStore('pending')" class="btn-action-save" mat-flat-button>Save Changes</button>
        </div>
    </div>
</div>