<div class="container-fluid">
    <span class="back-btn" routerLink="/">
        <img src="assets/images/icon-arrow-left.svg" alt="" srcset="">    
        back
    </span>
    <div class="form-container" [formGroup]="storeService.addInvoiceForm">
        <h1>New Invoice</h1>
        <div class="bill-from">
            <h3 class="part-title h3-mini">Bill Form</h3>
            <div class="grid-container">
                <div class="input-group input-group-1">
                    <label class="text-muted" for="app-input-1">Street Address</label>
                    <input
                    Class="input input-text"
                    type="text" 
                    formControlName="senderStreet"
                    >
                    @if (storeService.addInvoiceForm.get('senderStreet')?.hasError('required') && storeService.submitted) {
                      <mat-error>Street address is required!</mat-error>
                    }
                </div>
                <div class="input-group input-group-2">
                    <label class="text-muted" for="app-input-2">City</label>
                    <input
                        Class="input input-text"
                        type="text"
                        formControlName="senderCity"
                    >
                    @if (storeService.addInvoiceForm.get('senderStreet')?.hasError('required') && storeService.submitted) {
                      <mat-error>required!</mat-error>
                    }
                </div>
                <div class="input-group input-group-3">
                    <label class="text-muted" for="app-input-3">Country</label>
                    <input
                        Class="input input-text"
                        type="text"
                        formControlName="senderCountry"
                    >
                    @if (storeService.addInvoiceForm.get('senderCountry')?.hasError('required') && storeService.submitted) {
                      <mat-error>Required!</mat-error>
                    }
                </div>
                <div class="input-group input-group-4">
                    <label class="text-muted" for="app-input-4">Postal Code</label>
                    <input
                        Class="input input-text"
                        type="text"
                        formControlName="senderPostCode"
                    >
                    @if (storeService.addInvoiceForm.get('senderPostCode')?.hasError('required') && storeService.submitted) {
                      <mat-error>Required</mat-error>
                    }
                </div>
            </div>                     
        </div>
        <div class="bill-to">
            <h3 class="part-title h3-mini">Bill To</h3>
            <div class="bill-to-container">
                <div class="input-group input-group-1">
                    <label class="text-muted" for="app-input-1">Client's Name</label>
                    <input
                        Class="input input-text"
                        type="text"
                        formControlName="clientName"
                    >
                    @if (storeService.addInvoiceForm.get('clientName')?.hasError('required') && storeService.submitted) {
                      <mat-error>Required</mat-error>
                    }
                </div>
                <div class="input-group input-group-2">
                    <label class="text-muted" for="app-input-2">Client's Email</label>
                    <input
                        Class="input input-text"
                        type="text"
                        formControlName="clientEmail"
                    >
                    @if (
                    storeService.addInvoiceForm.get('clientEmail')?.hasError('required') 
                    && storeService.addInvoiceForm.get('clientEmail')?.hasError('email') 
                    && storeService.submitted) {
                      <mat-error>Please enter a valid email address</mat-error>
                    }
                </div>
                <div class="input-group input-group-3">
                    <label class="text-muted" for="app-input-3">Street Address</label>
                    <input
                        Class="input input-text"
                        type="text"
                        formControlName="clientStreet"
                    >
                    @if (storeService.addInvoiceForm.get('clientStreet')?.hasError('required') && storeService.submitted) {
                      <mat-error>Required</mat-error>
                    }
                </div>
                <div class="input-group input-group-4">
                    <label class="text-muted" for="app-input-4">City</label>
                    <input
                        Class="input input-text"
                        type="text"
                        formControlName="clientCity"
                    >
                    @if (storeService.addInvoiceForm.get('clientCity')?.hasError('required') && storeService.submitted) {
                      <mat-error>Required</mat-error>
                    }
                </div>
                <div class="input-group input-group-5">
                    <label class="text-muted" for="app-input-4">Post Code</label>
                    <input
                        Class="input input-text"
                        type="text"
                        formControlName="clientPostCode"
                    >
                    @if (storeService.addInvoiceForm.get('clientPostCode')?.hasError('required') && storeService.submitted) {
                      <mat-error>Required!</mat-error>
                    }
                </div>
                <div class="input-group input-group-6">
                    <label class="text-muted" for="app-input-4">Country</label>
                    <input
                        class="input input-text"
                        type="text"
                        formControlName="clientCountry"
                    >
                    @if (storeService.addInvoiceForm.get('clientCountry')?.hasError('required') && storeService.submitted) {
                      <mat-error>Required!</mat-error>
                    }
                </div>
                <div class="input-group input-group-7">
                    <label class="text-muted" for="app-input-4">Invoice Date</label>
                    <div (click)="picker.open()" class="date-picker-container">
                        <input
                        class="input input-date input-text"
                        (change)="onValueChange($event)"
                        type="text"
                        readonly
                        [matDatepicker]="picker"
                        [value]="'hello'"
                        >
                        <span class="date-icon">
                            <img src="assets/icons/date.svg" alt="" srcset="">
                        </span>
                    </div>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
                <div class="input-group input-group-8"> 
                    <label class="text-muted" for="">Payment Terms</label>
                    <div 
                    Class="input input-select"
                    >
                        <span class="selected-value" id="paymentTerms">
                            Net 1 Day
                            <img src="assets/icons/carret.svg" alt="" srcset="">
                        </span>
                        <ul  class="input-select-options">
                            <li (click)="storeService.setPaymentPlan(1)"> Net 1 Day</li>
                            <li (click)="storeService.setPaymentPlan(7)">Net 7 Days</li>
                            <li (click)="storeService.setPaymentPlan(14)">Net 14 Days</li>
                            <li (click)="storeService.setPaymentPlan(30)">Net 30 Days</li>
                        </ul>
                    </div>
                </div>
                <div class="input-group input-group-9"> 
                    <label class="text-muted" for="app-input-4">Project Description</label>
                    <input
                        Class="input input-text"
                        type="text"
                        formControlName="description"
                    >
                    @if (storeService.addInvoiceForm.get('description')?.hasError('required') && storeService.submitted) {
                      <mat-error>Description is Required</mat-error>
                    }
                </div>
            </div>                     
        </div>
        
          
        <div class="items-form">
            <h2 class="text-muted title">Item List</h2>
            @for(item of storeService.addInvoiceForm.get('items')?.value; track $index){
                <div class="add-item" [formGroupName]="$index">
                    <div class="input-group input-group-1">
                        <label class="text-muted" for="app-input-1">Item Name</label>
                        <input
                            Class="input input-text"
                            type="text"
                            formControlName="name"
                            >
                    </div>
                    <div class="input-group input-group-2">
                        <label class="text-muted" for="app-input-2">Qty.</label>
                        <input
                            Class="input input-text"
                            type="number"
                            formControlName="quantity"
                            >
                    </div>
                    <div class="input-group input-group-3">
                        <label class="text-muted" for="app-input-3">Price</label>
                        <input
                            Class="input input-text"
                            type="Number"
                            formControlName="price"
                            >
                    </div>
                    <div class="input-group input-group-4">
                        <label class="text-muted" for="app-input-4">Total</label>
                        <!-- <span class="total-price">0</span> -->
                        <span class="total-price">{{ item.value.price * item.value.quantity }}</span>
                    </div>
                    <button (click)="storeService.removeItemFromItemList($index)" mat-icon-button class="del-btn">
                        <mat-icon fontIcon="delete"></mat-icon>
                    </button>
                </div>
            }
        </div>
        <button (click)="storeService.addItemToItemList()" class="btn-add-new-invoice" mat-flat-button>Add New Invoice</button>
    </div>
</div>
<div class="form-action">
    <button (click)="storeService.addNewInvoiceToStore('draft')" class="btn-action-cancel" mat-flat-button>Cancel</button>
    <button (click)="storeService.addNewInvoiceToStore('pending')" class="btn-action-save" mat-flat-button>Save Changes</button>
</div>